soapwebservice/src/main/mule/soapwebservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fa3f992b-e2cb-4b86-8e72-530d805c392a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="8cfdc92f-06d1-49c8-a676-522c96ff8e54" >
		<wsc:connection wsdlLocation="https://www.learnwebservices.com/services/hello?WSDL" service="HelloEndpointService" port="HelloEndpointPort" address="https://www.learnwebservices.com/services/hello" />
	</wsc:config>
	<flow name="soapwebserviceFlow" doc:id="33e7dab3-02ad-4382-8d00-68f1cd7e7562" >
		<http:listener doc:name="Listener" doc:id="14ed4fe0-af2d-4b83-b30f-0984cd6c5dab" config-ref="HTTP_Listener_config" path="/path"/>
		<ee:transform doc:name="Transform Message" doc:id="2dc3867b-ff58-4197-9061-eaa45bf6e0c2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://learnwebservices.com/services/hello
---
{
	ns0#SayHello: {
		ns0#HelloRequest: {
			ns0#Name: payload
		}
	}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="366a3db3-c20c-442c-ab1a-2574ceb18f60" config-ref="Web_Service_Consumer_Config" operation="SayHello"/>
		<ee:transform doc:name="Transform Message" doc:id="c6b105db-78ac-4fbe-a3cb-53ab3b5b9c84" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://learnwebservices.com/services/hello

output application/json
---
{
	"message" : payload.body.ns0#SayHelloResponse.ns0#HelloResponse.ns0#Message
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
