assesment3-lakshmi/src/main/mule/assesment3-lakshmi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="10670c08-7c0b-47ce-a7bd-1ffc4dc58198" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="e0b92ef5-f9e5-4bdc-8902-1d452e9e30dc" >
		<file:connection workingDir="C:\Users\HP\Documents\assesment" />
	</file:config>
	<flow name="assesment3-lakshmiFlow" doc:id="979005ce-b68e-4bb3-9f8a-31cd6b46dddf" >
		<http:listener doc:name="Listener" doc:id="9d12dcad-d90c-40f6-813d-11bf49c83af9" config-ref="HTTP_Listener_config" path="/assesment"/>
		<set-variable value="#[attributes.queryParams.Number]" doc:name="Set Variable" doc:id="939918bb-49e6-481f-94b4-629f5b29c661" variableName="num"/>
		<logger level="INFO" doc:name="Logger" doc:id="0f0180be-a3b3-41eb-9d0e-14ced4c26938" message='#[uuid()]'/>
		<choice doc:name="Choice" doc:id="7a551da9-72e7-4646-9606-2439bdc7fde5" >
			<when expression="#[isEven(attributes.queryParams.Number as Number)]">
				<ee:transform doc:name="Transform Message" doc:id="7623a7da-f990-4cc8-b350-5f10b4da7304">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
var test=[1,2,3,4,5,6,7,8,9,10]

---
test map ((item, index) -> item * (vars.num))]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="43068bc0-46ae-4a9d-a934-2115753202cf" config-ref="File_Config" path="C:\Users\HP\Documents\assesment\write.txt" mode="APPEND">
				</file:write>
			</when>
			<otherwise>
				<java:new doc:name="New" doc:id="65184b17-2fce-40dc-8cde-abc3885c5c2a" class="pack.message" constructor="message()" target="objofmessage"/>
				<java:invoke-static doc:name="Invoke static" doc:id="77b4779a-6ddc-450e-9e57-3d6da9b35975" class="pack.message" method="checkMethod()"/>
				<logger level="INFO" doc:name="Logger" doc:id="10c227d8-b19c-4b1d-9eeb-3970e0595225" message="#[payload]"/>
			</otherwise>
		</choice>
	</flow>
</mule>
