prodemo3/src/main/mule/prodemo3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="faa0e858-eaef-4348-aad2-3c8729d874b9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="7d768af2-8709-4e6f-8b27-57df88c9d623" >
		<http:request-connection host="api.openweathermap.org/data/2.5/weather?q=dubai&amp;appid=58857cc17cc4c77e317ac54eed00655f" />
	</http:request-config>
	<flow name="prodemo3Flow" doc:id="8e91960d-215a-4bb8-86e8-9701b8ce5730" >
		<http:listener doc:name="Listener" doc:id="67825fbe-a65e-4816-83f8-6f8d6bd4f775" config-ref="HTTP_Listener_config" path="/prodemo3"/>
		<ee:transform doc:name="Transform Message" doc:id="4f00edff-70d8-4712-b261-1ef22b779e46" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
var a = payload
---
{
	root : a
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="prodemo3Flow1" doc:id="5110e4a2-f185-47cd-a9ea-b5bbbb9bf2b4" >
		<http:listener doc:name="Listener" doc:id="ab59e2ff-e160-4eca-8a8a-a3c19caaffb4" config-ref="HTTP_Listener_config" path="/project"/>
		<http:request method="POST" doc:name="Request" doc:id="df2301e2-e97c-4fee-a18b-eeb388effbfb" config-ref="HTTP_Request_configuration" path="/request"/>
		<ee:transform doc:name="Transform Message" doc:id="04083e42-a496-4de1-9c43-22b3fdbfd7bc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"max-temp": payload.main.temp_max-273 ++"celusis",
"min-temp": payload.main.temp_min-273 ++"celusis"

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
