assessment1-lakshmi/src/main/mule/assessment1-lakshmi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f576bb38-8664-42fa-a4e4-101a453a8721" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="assessment1-lakshmiFlow" doc:id="c6b3e4ce-f43b-459d-a134-3577468fef44" >
		<http:listener doc:name="Listener" doc:id="86395015-ed07-4f79-af1a-dd49b148f5da" config-ref="HTTP_Listener_config" path="/assessment" allowedMethods="post"/>
		<logger level="INFO" doc:name="Logger" doc:id="a752c678-d9fb-4b49-962f-22e9aed718bd" message='#[uuid]'/>
		<ee:transform doc:name="Transform Message" doc:id="93ed643f-47e1-4900-b527-436f98b8f530" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	 "root" : payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e0ce5f7c-3b26-4a1f-b522-974192b6077a" message='#[uuid]' category="uuid()"/>
	</flow>
</mule>
