project-prasu/src/main/mule/project-prasu.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8a99eafc-b17e-4a6e-9601-85d47151830f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="project-prasuFlow1" doc:id="fa1594d6-c553-4ecd-aa36-571608f9a224" >
		<http:listener doc:name="Listener" doc:id="15dabf72-55e3-4b72-be01-4399a6f10a05" config-ref="HTTP_Listener_config" path="/bankname"/>
		<java:new doc:name="New" doc:id="8b39312b-8d9d-4f79-82ec-8d9280445b59" class="project.sample" constructor="sample()" target="objofsampleclass"/>
		<java:invoke doc:name="Invoke" doc:id="1ec5ea20-b5f1-4a52-a5c8-ec5233139bc2" class="project.sample" method="getBalance(java.lang.String)" instance="#[vars.objofsampleclass]">
			<java:args ><![CDATA[#[{
arg0 : attributes.queryParams.bankname

}]]]></java:args>
		</java:invoke>
	</flow>
	<flow name="project-prasuFlow" doc:id="9a820a9b-4fc0-4648-8de0-3db18d28212c" >
		<http:listener doc:name="Listener" doc:id="463a3419-28f2-4c7b-8e1d-95685c2a5a7a" config-ref="HTTP_Listener_config" path="/invokestatic"/>
		<java:invoke-static doc:name="Invoke static" doc:id="bdc1d53e-f882-4853-bf29-bcdd863dbbc6" class="project.sample" method="welcome(java.lang.String)">
			<java:args ><![CDATA[#[{
	arg0: attributes.queryParams.name as String
}]]]></java:args>
		</java:invoke-static>
	</flow>
</mule>
