assignment1/src/main/mule/assignment1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6885b02e-38c6-4a76-b1b6-41c54f00fc32" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="assignment1Flow" doc:id="e0cc2c65-35c7-4918-8ce1-1adf1d4ce003" >
		<http:listener doc:name="Listener" doc:id="28249a2c-6279-41de-847e-d08f6cd20cce" config-ref="HTTP_Listener_config" path="/assignment"/>
		<ee:transform doc:name="Transform Message" doc:id="f782f204-4948-446c-85d5-bcc0eaf2f2d7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="assignment1Flow1" doc:id="5833aff7-fc4f-4623-8d5f-3cb16228f559" >
		<http:listener doc:name="Listener" doc:id="4eccaa55-5690-43f8-b37c-33070afedec8" config-ref="HTTP_Listener_config" path="/assignment1"/>
		<ee:transform doc:name="Transform Message" doc:id="8ae60bf8-be66-482d-89b6-e12ed6fd31dc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"city name" : payload.main.weather.name,
"minimum temp": payload.main.list.temp_min,
"Maximum temp" : payload.main.list.temp_max,
"pressure" : payload.main.list.Pressure,
"sealevel": payload.main.list.sea_level
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
