muleandjava-prasanna/src/main/mule/muleandjava-prasanna.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c25181a9-ff2b-4b2a-af15-b1025b3b19bb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleandjava-prasannaFlow" doc:id="1370d4ef-749f-43b5-b4e9-68dc200569f6" >
		<http:listener doc:name="Listener" doc:id="46868617-1bc7-4f04-82b1-0d2c1dccbce8" config-ref="HTTP_Listener_config" path="/muleandjava"/>
		<java:invoke-static doc:name="Invoke static" doc:id="ec995bf5-ca62-4119-ae9b-5df0bef5611e" class="muleandjav.demomulejava" method="getwelcomemessage()"/>
		<logger level="INFO" doc:name="Logger" doc:id="65dea4b9-73f6-41cd-88a8-85527aa51a90" message="#[payload]"/>
	</flow>
</mule>
